*{
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;900&display=swap');

html, body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
h1, h2, h3{
	font-weight: 900 !important;
	font-family: 'Source Code Pro', monospace !important;
}
.logo{
	width: 100%;
	max-width: 160px;
}
.fav{
	max-width: 50px;
}
.site-title{
	line-height: 48px !important;
}
.h-lg{
	font-size: 2.8em !important;
	line-height: 140%;
}
.post-link{
	font-size: 2em !important;
}
.post-meta{
	color: #555 !important;
}
.c-time time{
	font-size: 1.2em;
	padding-bottom: 4px;
	border-bottom: 1px dashed #555;
	width: 100%;
	margin-bottom: 10px;
	display: inline-block;
}
.lag-tag{
	background: #f9f9f9;
	padding: 6px 12px;
	border-radius: 8px;
	margin-bottom: 8px;
	display: inline-block;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.sentence-card,
.post-sentences{
	max-width: 540px;
	border: 1px solid #eee;
	padding: 32px;
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	background: #fff7cc;
}
.post-sentences{
	background: none;
	box-shadow: none;
	border: none;
}
.post-sentences li{
	border-bottom: 1px solid #eee;
}
.site-header{
	border-top: none !important;
}
.post-list > li{
	border-bottom: 1px solid #eee;
}

@media screen and (max-width: 800px){
	.h-lg{
		font-size: 2.4em !important;
	}
	.post-link{
		font-size: 1.6em !important;
	}
}
